data/**/*.pkl filter=lfs diff=lfs merge=lfs -text
data/**/*.joblib filter=lfs diff=lfs merge=lfs -text
data/**/*.h5 filter=lfs diff=lfs merge=lfs -text
data/**/anomalies*.csv filter=lfs diff=lfs merge=lfs -text
data/**/predictions_test.csv filter=lfs diff=lfs merge=lfs -text
